:root {
  --background: #ffffff;
  --foreground: #171717;
}


html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: all 0.2s ease-in-out;
  font-family: "Fira Code", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}
.center{
  position: relative;
  width: 100%;
  height: 100%;
  background: url("background.gif");
  background-position: center;
  background-repeat: repeat;
  background-size: contain;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow:inset 0 100px 90px 0 rgba(1, 51, 116, 0.5), inset 0 -100px 90px 0 rgba(1, 85, 116, 0.5);
}
.show-tela{
  position: absolute;
  z-index: 3;
  animation: aumentar 1s ease-in-out 0s forwards;
}
@keyframes aumentar {
  0%{
    width:  54%;
    aspect-ratio: 1/1;
    border-radius: 20px;  
  }
  100%{
    width: 100%;
    height: 100%;  
  }
}
.baixa, .cima{
  width: 100%;
  height: 100%;
  position: absolute;
}
.baixa{
  z-index: 2;
  background: url("base.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.cima{
  background: url("cima.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.popup-inicial{
  position: relative;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(77, 0, 95);
  border-radius: 20px;
  background: white;
  width: 40%;
  height: 85%;
}
.popup-inicial iframe{
width: 100%;
height: 100%;}
.popup-inicial .tela{
    width:  54%;
  aspect-ratio: 1/1;
  border-radius: 20px;

}
.popup-inicial  p{
  padding: 20px 0px;
  text-align: center;
}
.popup-inicial  h2{
  color: blue;
  font-size: 30px;
}
.popup-inicial button{
  
}
.botoes{
  width: 80%;
  align-items: center;
  height: 12%;
  justify-content: space-between;
  display: flex;
}
/* CSS */
.button-54:nth-of-type(1){
  background: rgb(84, 84, 255);
}
.button-54:nth-of-type(2){
  background: rgb(51, 247, 7);
}
.button-54 {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-54:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

@media (min-width: 768px) {
  .button-54 {
    padding: 0.25em 0.75em;
  }
}